.create_game {
    color: black;
    background-color: #FFC312;
    width: 200px;
    height: 50px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    border: solid 1px black;
    border-radius: 10px;
}

.create_game:hover {
    color: black;
    background-color: white; 
}

div{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
}

.game-board{
    text-align: center;
}

#play-btn{
    text-align: center;
}

#logout-btn{
    color: black;
    background-color: #FFC312;
    width: 125px;
    height: 35px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    border: solid 1px black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#logout-btn:hover {
    color: black;
    background-color: white; 
}

ul {
    color: blue;
}