.content-table {
    margin: 80vw;
    font-size: 2vw;
    max-width: 40vw;
    border-radius: 5px;
    text-align: center;
    background-color: #669DB3FF;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Courier New', Courier, monospace;
}

td,
tr,
th,
h1 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
}

li {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

#leaderboardTitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: black;
    text-align: center;
    text-decoration-line: underline;
}

#leaderboardBody {
    text-align: center;
}

#leaderboards {
    font-size: 2vw;
    text-align: center;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    div.example {
      font-size: 80px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    div.example {
      font-size: 30px;
    }
  }