body {
    background-image: url(images/Ocean.gif);
    background-size: cover;
}

#body {
    margin-top: 50px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#grid{
    width: 350px
}

::placeholder {
    font-family: 'Courier New', Courier, monospace;
}

button.player {
    width: 30px;
    height: 30px;
}

td {
    width: 35px;
    height: 35px;
    text-align: center;

}

.guess {
    display: none;
}

#legend {
    position: absolute;
    top: 10;
    right: 20;
    color: whitesmoke;
}

.buttons {
    border: none;
    padding: 15px;
    margin: 4px;
}

.label {
    color: whitesmoke;
    font-size: 20px;
}

#place {
    width: 150px;
    height: 50px;
    background-color: darkgoldenrod;
    color: black;
    font-size: larger;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    cursor: pointer;
}

#enterInstruct {
    color: whitesmoke;
    font-size: larger;
}

#greenBtn {
    background-color: green;
}

#redBtn {
    background-color: red;
}

#BlueBtn {
    background-color: blue;
}

#script {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    color: black;
    font-weight: bold;
    width: ;
}

.fireBox {
    left: 50%;
    width: 400px;
    margin-top: -125px;
    margin-left: -140px;
    position: relative;
}

.text {
    font-size: 20px;
    margin-left: -5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-bottom: 10px;
}

#target {
    width: 150px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    margin-left: 70px;
}

#fire {
    width: 80px;
    height: 30px;
    background-color: peru;
    font-size: 20px;
    border: solid 1px black;
    border-radius: 10px;
    margin-left: 105px;
    font-family: 'Courier New', Courier, monospace;
}

.sunk {
    display: none;
    color: black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

#positionBtn {
    width: 200px;
    height: 50px;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
