.content-table {
    margin: 100px;
    font-size: 0.1em;
    max-width: 25vw;
    min-width: 300px;
    border-radius: 5px;
    text-align: center;
    background-color: #669DB3FF;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Courier New', Courier, monospace;
}

td,
h1 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
}

li {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

#leaderboardTitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: black;
    text-align: center;
    text-decoration-line: underline;
}

#leaderboardBody {
    text-align: center;
}

#leaderboards {
    font-size: 2vw;
    text-align: center;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
}
table{
    margin-left: auto;
    margin-right: auto;
    width: 100%
    
}

td{
    text-align: left;
    font-size: medium;
}
