@import url('https://fonts.googleapis.com/css?family=Numans');

html,
body {
    background-image: url(../images/battleship.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Numans', sans-serif;
}

h1 {
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}

.container {
    height: 100%;
    align-content: center;
    border-radius: 10px;
    text-indent: 10px;
}

.firebase.ui-auth-container {
    align-content: center;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
    color: black;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
    height: 35px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border: solid 1px black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.login_btn:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

p {
    color: whitesmoke;
}

span {
    color: red;
}

.center {
    text-align: center;
}

#userName {
    height: 25px;
    width: 200px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
}

#password {
    height: 25px;
    width: 200px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
}